
.page-chronologie {

.ss-links{
  position: fixed;
  left: 10px;
  top: 166px;
  width: 25%;
  z-index: 100;
}
.ss-links a{
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  float: left;
  border-radius: 50%;
  display: block;
  text-align: center;
}
.ss-container{
  width: 100%;
  position: relative;
  text-align: left;
  float: left;
  overflow: hidden;
  padding-bottom: 100px;
}
.ss-container h2{
  font-size: 40px;
  padding: 20px 0px;
}
.ss-container:before{
  position: absolute;
  width: 4px;
  background: $main_color;
  top: 0px;
  left: 50%;
  margin-left: -2px;
  content: '';
  height: 100%;
}
.ss-row{
    width: 100%;
    clear: both;
    float: left;
    position: relative;
    padding: 30px 0;
}
.ss-left, .ss-right{
    float: left;
    width: 46%;
    position: relative;
    padding: 0 2%;
}
.ss-right{
}
.ss-left{
    text-align: right;
    float: left;
}
.ss-circle{
    border-radius: 50%;
    overflow: hidden;
    display: block;
    text-indent: -9000px;
    text-align: left;
    -webkit-box-shadow: 0px 0px 0px 5px $main_color;
    -moz-box-shadow: 0px 0px 0px 5px $main_color;
    box-shadow: 0px 0px 0px 5px $main_color;
  background-size: cover;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  position: static;
}
.ss-small .ss-circle{
  width: 100px;
  height: 100px;
}
.ss-medium .ss-circle{
  width: 200px;
  height: 200px;
}
.ss-large .ss-circle{
  width: 300px;
  height: 300px;
}
.ss-circle-deco:before{
  width: 29%;
  height: 0px;
  border-bottom: 5px dotted $main_color;
  position: absolute;
  top: 50%;
  content: '';
  margin-top: -3px;
}
.ss-circle-deco:after{
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.ss-left .ss-circle-deco:before{
    right: 2%;   
}
.ss-right .ss-circle-deco:before{
    left: 2%;   
}
.ss-left .ss-circle-deco:after{
  right: 0;
  border-right: 10px solid $alternate_color;
}
.ss-right .ss-circle-deco:after{
  left: 0;
  border-left: 10px solid $alternate_color;
}
.ss-left .ss-circle{
    float: right;
    margin-right: 30%;
}
.ss-right .ss-circle{
    float: left;
    margin-left: 30%;
}
.ss-container h3{
    margin-top: 34px;
  padding: 10px 15px;
  background: $main_color;
}
.ss-container .ss-medium h3{
  margin-top: 82px;
}
.ss-container .ss-large h3{
  margin-top: 133px;
}
.ss-container .ss-left h3{
  border-right: 5px solid $alternate_color;
}
.ss-container .ss-right h3{
  border-left: 5px solid $alternate_color;
}
.ss-container h3 span{
    font-size: 1.8em;
    display: block;
    padding-bottom: 5px;
    font-style: normal;
    color: $text_color;
}
.ss-container h3 a{
    font-size: 1em;
    display: block;
    text-decoration: none;
    color: $alternate_color;
    font-weight: normal;
   overflow: hidden;
   text-shadow: none;
}
.ss-container h3 a:hover, .ss-container h3 a:active, .ss-container h3 a:focus {
  color: $link_hover;
}

}