@CHARSET "UTF-8";

html {
	padding-top: 32px;
}

.common-header {
	width: 100%;
	min-height: 32px;
	line-height: 32px;
  font-size: 12px;
	border-bottom: 1px solid #555;
	background: #666 url(images/common-header.png) no-repeat 1em 8px;
	position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  -moz-box-shadow: 0 10px 1px rgba(0, 0, 0, .3);
  -webkit-box-shadow: 0 10px 1px rgba(0, 0, 0, .3);
  box-shadow: 0 10px 1px rgba(0, 0, 0, .3);
}

.common-header .liens {
    padding-left: 2em;
    float: left;
    margin: 0;
}
.common-header .liens li {
      list-style:none; margin: 0; padding: 0;
      float: left;
}
      
.common-header .liens li ul {
        margin: 0;
        max-height: 0;
        overflow: hidden;
        line-height: 1.5;
	      -moz-transition: all 0.5s ease;
	      -o-transition: all 0.5s ease;
	      -webkit-transition: all 0.5s ease;
	      transition: all 0.5s ease;
        background: #666;
			  -moz-box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
			  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
			  box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
			  width: 12em;
			  position: absolute;
			  padding: 0;
}
			  
.common-header .liens li ul li {
			    float: none;
}
.common-header .liens a:hover+ul, .common-header .liens a:active+ul, .common-header .liens a:focus+ul, .common-header .liens li:hover ul, .common-header .liens li ul:hover {
        max-height: 15em;
        padding: 1em 0;
}
.common-header .liens a {
      color: #ECD078;
      text-decoration: none;
      display: block;
      padding: 0 1em;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
}
.common-header .liens a:hover, .common-header .liens a:active, .common-header .liens a:focus {
        color: #fff;
}
  
.rsalc {
    float: right;
    padding-right: 1em;
    width: 192px;
    margin: 0;
}
.rsalc li {
      list-style:none; margin: 0; padding: 0;
      height: 32px;
      width: 32px;
      float: left;
}
.rsalc a {
      display: block;
      height: 32px;
      width: 32px;
      background: #39599f url(images/rsalc.png) no-repeat 0 0;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    -webkit-transition: all 0.5s ease;
	    transition: all 0.5s ease;
}
.rsalc a:hover, .rsalc a:active, .rsalc a:focus {
  background-color: #333;
}

a.rsalc-feed {
  background-color: #f8bc2e;
  background-position: -64px 0;
}
a.rsalc-youtube {
  background-color: #e10036;
 background-position: -128px 0;
}
a.rsalc-google {
  background-color: #1872bf;
  background-position: -32px 0;
}
a.rsalc-twitter {
  background-color: #45b0e3;
  background-position: -96px 0;
}
a.rsalc-flickr {
  background-color: #FF0084;
  background-position: -160px 0;
}
	

body.logged-in .common-header {
  top: 28px;
}

body span.blackstrip {
	display: none;
}



label[for^="toggle"], [type=checkbox] {cursor: pointer}
label[for^="toggle"] + [type=checkbox], #toggle-common-header {display: none}

@media (max-width: 767px) {
  
  [data-icon]:before {
    content: attr(data-icon);
  }
  
  label[for^="toggle"] {
    position: absolute; 
    top: 5px; right: 0px;
    z-index: 1337;
    padding: 0 0.3em;
    font-size: 3em;
    font-weight: bold;
    line-height: .7em;
    border-radius: 4px;
    color: #2D2D2D;
  }

  #toggle-common-header:checked ~ ul {
    max-height: 25em !important; /* number of menu items x5em*/
  }
  #toggle-common-header ~ ul {
    height: auto;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height .4s;
    -moz-transition: max-height .4s;
    -o-transition: max-height .4s;
    -ms-transition: max-height .4s;
    transition: max-height .4s;
  }
  #toggle-common-header ~ ul.rsalc {
    width: 32px;
    padding-right: 5em;
  }
  #toggle-common-header ~ ul.liens li {
    float: none;
  }
}




