
.error,
.notice, 
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }

/* typo settings */
html {
  background: #C8D08A;
  color: #1E5A41;
}
a  {
  color: #1E5A41;
  -webkit-transition: all .7s ease .1s;
  -moz-transition: all .7s ease .1s;
  -ms-transition: all .7s ease .1s;
  -o-transition: all .7s ease .1s;
  transition: all .7s ease .1s;
}
body {
	font-family: "Karla", 'Ubuntu', sans-serif;
}
h1,h2,h3,h4,h5,h6,strong {
}
em {
}


img {
	max-width: 100%;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

img {
	max-width: 100%;
}


.ss-links{
  position: fixed;
  left: 10px;
  top: 166px;
  width: 25%;
  z-index: 100;
}
.ss-links a{
  font-size: 16px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin: 5px;
  float: left;
  border-radius: 50%;
  display: block;
  text-align: center;
}
.ss-container{
  width: 100%;
  position: relative;
  text-align: left;
  float: left;
  overflow: hidden;
  padding-bottom: 100px;
}
.ss-container h2{
  font-size: 40px;
  padding: 20px 0px;
}
.ss-container:before{
  position: absolute;
  width: 4px;
  background: #1E5A41;
  top: 0px;
  left: 50%;
  margin-left: -2px;
  content: '';
  height: 100%;
}
.ss-row{
    width: 100%;
    clear: both;
    float: left;
    position: relative;
    padding: 30px 0;
}
.ss-left, .ss-right{
    float: left;
    width: 46%;
    position: relative;
    padding: 0 2%;
}
.ss-right{
}
.ss-left{
    text-align: right;
    float: left;
}
.ss-circle{
    border-radius: 50%;
    overflow: hidden;
    display: block;
    text-indent: -9000px;
    text-align: left;
    -webkit-box-shadow: 0px 0px 0px 5px #1E5A41;
    -moz-box-shadow: 0px 0px 0px 5px #1E5A41;
    box-shadow: 0px 0px 0px 5px #1E5A41;
  background-size: cover;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  position: static;
}
.ss-small .ss-circle{
  width: 100px;
  height: 100px;
}
.ss-medium .ss-circle{
  width: 200px;
  height: 200px;
}
.ss-large .ss-circle{
  width: 300px;
  height: 300px;
}
.ss-circle-deco:before{
  width: 29%;
  height: 0px;
  border-bottom: 5px dotted #1E5A41;
  position: absolute;
  top: 50%;
  content: '';
  margin-top: -3px;
}
.ss-circle-deco:after{
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -10px;
}
.ss-left .ss-circle-deco:before{
    right: 2%;   
}
.ss-right .ss-circle-deco:before{
    left: 2%;   
}
.ss-left .ss-circle-deco:after{
  right: 0;
  border-right: 10px solid rgba(17,17,22,0.8);
}
.ss-right .ss-circle-deco:after{
  left: 0;
  border-left: 10px solid rgba(17,17,22,0.8);
}
.ss-left .ss-circle{
    float: right;
    margin-right: 30%;
}
.ss-right .ss-circle{
    float: left;
    margin-left: 30%;
}
.ss-container h3{
    margin-top: 34px;
  padding: 10px 15px;
  background: #fff;
}
.ss-container .ss-medium h3{
  margin-top: 82px;
}
.ss-container .ss-large h3{
  margin-top: 133px;
}
.ss-container .ss-left h3{
  border-right: 5px solid #1E5A41;
}
.ss-container .ss-right h3{
  border-left: 5px solid #1E5A41;
}
.ss-container h3 span{
    font-size: 2em;
    display: block;
    padding-bottom: 5px;
    font-family: 'neogreyregular', Arial;
    font-weight: normal;
    font-style: normal;
}
.ss-container h3 a{
    font-size: 1em;
    display: block;
    text-decoration: none;
    color: #808080;
    font-weight: normal;
   overflow: hidden;
}
.ss-container h3 a:hover{
  color: #1E5A41;
}

.main-title {
	text-align: center;
	font-size: 4em;
}

.zone {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
  padding: 1em;
  min-height: 250px;
  border-bottom: 5px solid #1E5A41;
  color: #1E5A41;
  background: #fff;
}

.zone a {
  color: #1E5A41;
}

.zone-ecologiste, .zone-ecologiste a {
  color: #7DA702;
  border-color: #7DA702;
}

.zone-libertaire, .zone-libertaire a {
  color: #9A1B7E;
  border-color: #9A1B7E;
}

.zone-humaniste, .zone-humaniste a {
  color: #FB7102;
  border-color: #FB7102;
}

.zone-liberaux, .zone-liberaux a {
  color: #08589D;
  border-color: #08589D;
}

.zone-socialiste, .zone-socialiste a {
  color: #E20040;
  border-color: #E20040;
}

.footer {
  background: #C8D08A url(http://revenudebase.info/wp-content/themes/revenudebase/images/logo.png) no-repeat center bottom;
}

.about-author {
	font-size: .8em;
	font-style: italic;
}

